
UNIFI_SERVER_ADDRESS='192.168.1.1'
UNIFI_PORT=8443
UNIFI_USERNAME='admin'
UNIFI_PASSWORD='xxx'
UNIFI_SITE='default'

RTM_API_KEY='xxx'
RTM_SHARED_SECRET='xxxxx'
RTM_TOKEN='xxxxxxxxxxxxx'

OVERDUE_TASK_FILTER='list:Overdue'
OVERDUE_FOCUS_FILTER='list:Focus'

POLL_INTERVAL_MIN=1800  # 30 minutes
POLL_INTERVAL_MAX=5400  # 90 minutes

NTH_CHAOS_MONKEY=10


